body {
  font-family: 'Ubuntu', sans-serif;
}

.flex-container {
  border: 3px solid springgreen;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.flex-item {
  border: 3px solid lightblue;
  padding: 20px;
}
